@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #ededed;
  --defaultText: black;
}

html {
  font-family: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", "monospace";
}

body {
  color: var(--defaultText);
  background: var(--background);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.header-text {
  color: black;
}

.header-text:hover {
  color: gray;
}

.introduce {
  border: 1px solid #78716c;
}

.introduce:hover {
  background-color: #fafafa;
  border-color: white;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: var(--background) 0.3s;
}

nav a:hover {
  background-color: #4a5568;
}
