@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292524;
  --foreground: #ededed;
  --primary: #a3a3a3;
  --primary-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292524;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: var(--background);
  text-align: center;
  padding: 10px;
}
